<head>
	<title>Art Stories</title>
	<meta charset="utf-8" /> 
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
	<meta property="fb:app_id" content="">
	<meta property="og:url" content="">
	<meta property="og:title" content="Art Stories">
	<meta property="og:site_name" content="Art Stories"/>
	<meta property="og:description" content="">
	<meta property="og:image" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:url" content="">
</head>

<body></body>

<template name="layout">
		{{> header}}
		{{> Template.dynamic template=aboveContent}}
		{{> Template.dynamic template=content}}
		{{> Template.dynamic template=belowContent}}
		{{> footer}}
</template>

<template name="header">

	<div class="ui basic very padded center aligned segment" style="padding-top:5px;padding-bottom:0px;">
		<div class="ui large secondary menu">	
			<div class="menu">
				<div class="item">
					<p>{{> status}}</p>
				</div>
			</div>
			<div class="menu right">
				<div class="item">
					<div class="ui language floating dropdown link item">
					  <div class="text">{{i18n_currentLanguage.name}}</div>
					  <div class="menu">
					  	<div class="item" data-value="et">Eesti</div>
					    <div class="item" data-value="en">English</div>
					    <div class="item" data-value="pt">Português</div>
					    <div class="item" data-value="cn">中文</div>
					    <!--<div class="item" data-value="st">Sãotomense</div>-->
					  </div>
					</div>	
				</div>
			</div> 
		</div>
	</div>

	<div class="ui container titlerow">
		<div class="ui doubling stackable padded grid">
			<div class="row">
				<div class="sixteen wide column">
					<div class="site-title">
						<a href="/">{{_ "Art Stories"}}</a>
					</div>
					<h1 class="center">
						<a href="/">
							Soia Atxi
						</a>
					</h1>
					{{#if storyTitle}}
					<h1 class="title center">
						&#8220;{{storyTitle}}&#8221;
					</h1>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>