<template name="partners">

	<div class="row">
		<div class="sixteen wide column">
			<h2 class="supporter">
				{{_ "This episode supported by"}}:
			</h2>
		</div>
	</div>
				
	<div class="ui stackable doubling six column grid container">
		{{#if Template.subscriptionsReady}}
			{{#each partners}}
				{{> partner}}
			{{/each}}
		{{else}}
			<div class="column">
				<div class="ui segment">
					<div class="ui active inverted dimmer">
						<div class="ui text loader">{{_ "Loading data"}}</div>
					</div>
				</div>
			</div>
		{{/if}}
	</div>
	
</template>

<template name="partner">
	<div class="column">
		<div class="ui segment">
			<div class="ui fluid image" id="{{slug}}">
		      	<a href="#">
		      		<img src="{{image.url}}" class="fade" />
		      	</a>
		    </div>
		</div>
	</div>
</template>