<template name="team">

	<div class="row">
		<div class="sixteen wide column">
			<h2 class="supporter">
				{{_ "Team members"}}
			</h2>
		</div>
	</div>
				
	<div class="ui stackable doubling fourteen column grid container">
		{{#if Template.subscriptionsReady}}
			{{#each team}}
				{{> teamSingle}}
			{{/each}}
		{{else}}
			<div class="column">
				<div class="ui segment">
					<div class="ui active inverted dimmer">
						<div class="ui text loader">{{_ "Loading data"}}</div>
					</div>
				</div>
			</div>
		{{/if}}
	</div>
	
</template>

<template name="teamSingle">
	<div class="column">
		<div class="ui circular fluid image" id="{{slug}}">
	      	<img src="{{image.url}}" />
	    </div>
	</div>
</template>